* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 40px;
    background-color: #1E1E1E;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #E0E0E0;
    text-align: center;
    margin-bottom: 10px;
    font-size: 32px;
}

.member-container {
    //display: flex;

    margin: auto;
    max-width: 1024px;
}

.member-box {
    border: 1px solid #4b5362;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 10px;
}

.button {
    border: none;
    font-size: 20px;
    background-color: transparent;
    width: 100%;
    text-align: right;
    cursor: pointer;
}